.imgContainer {
  background: linear-gradient(to bottom right, #ff0000, #000000);
  /* background: linear-gradient(29deg, #f5d4d473 0%, #ffffff48 35%); */
}

.image-circle {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.card-img-container {
  height: 200px; /* Sesuaikan tinggi yang diinginkan */
  overflow: hidden;
}

.card-img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
