/* styles.css */
.container-ku {
  width: 100%;
  margin: auto;
  padding: 20px;
}

.kategori-header {
  margin-bottom: 20px; /* Memberi jarak dari atas */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.card-header {
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.card-img-container {
  width: 200px; /* Set width of container */
  height: 200px; /* Set height of container */
  border-radius: 50%; /* Apply border-radius to make it circular */
  overflow: hidden; /* Hide overflow content */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center the container */
}

.card-img {
  width: 100%; /* Make the image fill its container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Scale the image to cover the entire container */
}

.card-title {
  margin: 0;
  font-size: 1.2em; /* Increase font size */
  font-weight: bold; /* Set font weight to bold */
}

.card-body {
  padding: 20px;
}

.button {
  background-color: #ce2727;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #df3c36;
}
